<form class="contact-form">
    <div class="contact-form__text">
        <h6 class="contact-form__title">Contact</h6>
        <p class="contact-form__description">I would love to hear about your project and how I could help. Please fill in the form, and I’ll get back to you as soon as possible.</p>
    </div>
    <div class="contact-form__inputs">
        <input class="contact-form__input" type="text" placeholder="NAME">
        <input class="contact-form__input" type="email" placeholder="EMAIL">
        <textarea rows="4" class="contact-form__input" placeholder="MESSAGE"></textarea>
        <app-button-with-border-bottom class="contact-form__submit-btn" buttonText="Send Message" link="/"></app-button-with-border-bottom>
    </div>
</form>
