<form class="contact-form" id="contact-form">
    <div class="contact-form__text">
        <h6 class="contact-form__title">Contact</h6>
        <p class="contact-form__description">I would love to hear about your project and how I could help. Please fill in the form, and I’ll get back to you as soon as possible.</p>
    </div>
    <div class="contact-form__inputs">
        <div class="contact-form__input-container">
            <input class="contact-form__input" type="text" placeholder="NAME">
        </div>
        <div class="contact-form__input-container">
            <input class="contact-form__input" type="email" placeholder="EMAIL" [ngClass]="{'error-border': true}">
            <span class="contact-form__error-msg">Sorry, invalid format here</span>
            <span class="contact-form__error-icon">
                <img src="error-icon.png" alt="">
            </span>
        </div>
        <div class="contact-form__input-container">
            <textarea rows="4" class="contact-form__input" placeholder="MESSAGE" [ngClass]="{'error-border': true}"></textarea>
            <span class="contact-form__error-msg">Sorry, invalid format here</span>
            <span class="contact-form__error-icon">
                <img src="error-icon.png" alt="">
            </span>
        </div>
        <button type="submit" class="contact-form__submit-btn">Send Message</button>
    </div>
</form>
