@use "../../../scss/variables" as var;

.technologies {
    color: var.$White;
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1.5rem;
    }
    &__list-item {
        display: flex;
        flex-direction: column;
        gap: 1px;
    }
    &__item-title {
        font-size: 2rem;
        line-height: 40px;
        font-weight: 600;
        letter-spacing: -1px;
    }
    &__item-description {
        font-size: 1rem;
        color: var.$Grey;
        line-height: 26px;
    }
    .divider {
        height: 1px;
        border: 1px solid #fff;
        margin: 5rem 1.5rem 2.5rem;
        &:nth-of-type(2) {
            margin: 2.5rem 1.5rem 5rem;
        }
    }
}

@media screen and (min-width: 768px) {
    .technologies {
        &__list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            text-align: left;
            padding: 1.5rem;
            gap: 3.25rem;
        }
        &__list-item {
            gap: .875rem;
        }
        &__item-title {
            font-size: 3rem;
            line-height: 3.25rem;
            letter-spacing: -1.5px;
        }
        &__item-description {
            font-size: 1.125rem;
            line-height: 1.75rem;
        }
        .divider {
            height: 1px;
            border: 1px solid var.$White;
            margin: 1.75rem 1.5rem 2.5rem;
            opacity: 0.6;
            &:nth-of-type(2) {
                opacity: 0;
                margin: 3.75rem 1.5rem;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .technologies {
        max-width: 1062px;
        padding-inline: 3rem;
        margin: auto;
        &__list {
            grid-template-columns: repeat(3, 1fr);
            padding: 2rem 0;
            gap: 3.25rem;
        }
        .divider {
            margin: 15rem 0rem 2.5rem;
        }
    }
}