@font-face {
    font-family: 'Space Grotesk';
    src: url(../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

$Black: #151515;
$Dark-Grey: #242424;
$Grey: #D9D9D9;
$Green: #4EE1A0;
$White: #ffffff;
$Space-Grotesk: 'Space Grotesk', sans-serif;