<section class="introduction">
    <div class="introduction__image-container">
        <img src="image-profile-mobile.webp" alt="" class="introduction__profile-picture">
    </div>
    <div class="introduction__text">
        <h2 class="introduction__title">
            Nice to meet you! I'm <span class="introduction__name">Adam Keyes</span>.
        </h2>
        <p class="introduction__description">
            Based in the UK, I’m a front-end developer passionate about building accessible web apps that users love.
        </p>
        <app-button-with-border-bottom buttonText="Contact me" link="/"></app-button-with-border-bottom>
    </div>
</section>
